# 6章 一元配置分散分析・多重比較

In [1]:
library(dplyr)
library(tidyr)
library(ggplot2)
library(readr)
library(gridExtra)
library(Cairo)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'tidyr' was built under R version 3.3.3"Warning message:
"package 'ggplot2' was built under R version 3.3.3"Warning message:
"package 'readr' was built under R version 3.3.3"
Attaching package: 'gridExtra'

The following object is masked from 'package:dplyr':

    combine

## 6.1 t検定の繰り返しは誤り

## 6.2 一元配置分散分析: 原理

## 6.3 Rで計算

In [3]:
d.stron <- data_frame(
    stron = c(28.2, 33.2, 36.4, 34.6, 29.1, 31.0, 
              39.6, 40.8, 37.9, 37.1, 43.6, 42.4, 
              46.3, 42.1, 43.5, 48.8, 43.7, 40.1, 
              41.0, 44.1, 46.4, 40.2, 38.6, 36.3, 
              56.3, 54.1, 59.4, 62.7, 60.0, 57.3), 
    lake = factor(sort(rep(1:5, 6)))
)
head(d.stron)

  stron lake
1 28.2  1
2 33.2  1
3 36.4  1
4 34.6  1
5 29.1  1
6 31.0  1

In [4]:
aov(stron ~ lake, data = d.stron) %>% summary()

            Df Sum Sq Mean Sq F value   Pr(>F)
lake         4 2193.4   548.4   56.16 3.95e-12 ***
Residuals   25  244.1     9.8
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

手動計算

* `m`: 群の総数
* `n`: 各群の標本サイズ
* `SS.b`: 群間平方和
* `SS.w`: 群内平方和
* `MS.b`, `MS.w`: 平均平方

In [59]:
(function(){
    m <- d.stron$stron %>% mean()
    
    SS.b <- d.stron %>% group_by(lake) %>% summarise_all(funs(stron = mean, n = n())) %>% 
        mutate(x = n * (stron - m)^2) %>% summarise(SS.b = sum(x)) %>% .[["SS.b"]]
    SS.w <- d.stron %>% group_by(lake) %>% mutate(x = (stron - mean(stron))^2) %>% 
        summarise_all(funs(sum)) %>% summarise(SS.w = sum(x)) %>% .[["SS.w"]]
    
    df_b <- d.stron$lake %>% unique %>% length %>% {. - 1}
    df_w <- d.stron %>% group_by(lake) %>% summarise(n = n()) %>% 
        summarise(df_w = sum(n - 1)) %>% .[["df_w"]]
    
    MS.b <- SS.b / df_b
    MS.w <- SS.w / df_w
    F_val <- MS.b / MS.w
    p_val <- 1 - pf(F_val, df_b, df_w)
    
    return(list("F_val" = F_val, "p_val" = p_val))
})()

$F_val
[1] 56.15456

$p_val
[1] 3.947953e-12

In [61]:
d.pig <- data_frame(
    f1 = c(60.8, 57.0, 65.0, 58.6, 61.7),
    f2 = c(68.7, 67.7, 74.0, 66.3, 69.8), 
    f3 = c(102.6, 102.1, 100.2, 96.5, NA), 
    f4 = c(87.9, 84.2, 83.1, 85.7, 90.3)
)
d.pig

  f1   f2   f3    f4
1 60.8 68.7 102.6 87.9
2 57.0 67.7 102.1 84.2
3 65.0 74.0 100.2 83.1
4 58.6 66.3  96.5 85.7
5 61.7 69.8    NA 90.3

In [68]:
d.pig %>% gather(feed, Pig) %>% aov(Pig ~ feed, data = .) %>% summary()

            Df Sum Sq Mean Sq F value   Pr(>F)
feed         3   4226  1408.8   164.6 1.06e-11 ***
Residuals   15    128     8.6
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
1 observation deleted due to missingness

In [69]:
devtools::session_info()

Session info -------------------------------------------------------------------
Packages -----------------------------------------------------------------------

 setting  value
 version  R version 3.3.2 (2016-10-31)
 system   x86_64, mingw32
 ui       RTerm
 language en_US.UTF-8
 collate  Japanese_Japan.932
 tz       Asia/Tokyo
 date     2017-05-21

 package    * version    date       source
 assertthat   0.2.0      2017-04-11 CRAN (R 3.3.2)
 Cairo      * 1.5-9      2015-09-26 CRAN (R 3.2.2)
 colorspace   1.3-2      2016-12-14 CRAN (R 3.3.3)
 crayon       1.3.2      2016-06-28 CRAN (R 3.3.1)
 DBI          0.6-1      2017-04-01 CRAN (R 3.3.3)
 devtools     1.12.0     2016-06-24 CRAN (R 3.3.1)
 digest       0.6.12     2017-01-27 CRAN (R 3.3.3)
 dplyr      * 0.5.0      2016-06-24 CRAN (R 3.2.5)
 evaluate     0.10       2016-10-11 CRAN (R 3.3.2)
 ggplot2    * 2.2.1      2016-12-30 CRAN (R 3.3.3)
 gridExtra  * 2.2.1      2016-02-29 CRAN (R 3.2.5)
 gtable       0.2.0      2016-02-26 CRAN (R 3.2.5)
 hms          0.3        2016-11-22 CRAN (R 3.3.3)
 IRdisplay    0.4.4      2016-08-02 CRAN (R 3.3.1)
 IRkernel     0.8.6.9000 2017-04-13 Github (IRkernel/IRkernel@29ae7df)
 jsonlite     1.4        2017-04-08 CRAN (R 3.3.3)
 lazyeval     0.2.0      2016-06-12 CRAN (R 3.2.5)
 magrittr     1.5        2014-11-22 CRAN (R 3.2.1)
 memoise      1.0.0      2016-01-29 CRAN (R 3.2.3)
 munsell      0.4.3      2016-02-13 CRAN (R 3.2.5)
 pbdZMQ       0.2-5      2016-12-18 CRAN (R 3.3.3)
 plyr         1.8.4      2016-06-08 CRAN (R 3.2.5)
 R6           2.2.0      2016-10-05 CRAN (R 3.3.2)
 Rcpp         0.12.10    2017-03-19 CRAN (R 3.3.3)
 readr      * 1.1.0      2017-03-22 CRAN (R 3.3.3)
 repr         0.12.0     2017-04-07 CRAN (R 3.3.3)
 scales       0.4.1      2016-11-09 CRAN (R 3.3.2)
 stringi      1.1.5      2017-04-07 CRAN (R 3.3.3)
 stringr      1.2.0      2017-02-18 CRAN (R 3.3.3)
 tibble       1.3.0      2017-04-01 CRAN (R 3.3.3)
 tidyr      * 0.6.1      2017-01-10 CRAN (R 3.3.3)
 uuid         0.1-2      2015-07-28 CRAN (R 3.3.1)
 withr        1.0.2      2016-06-20 CRAN (R 3.2.5)